/* ------------------------ Global CSS ------------------------*/

:root {
  --header-height: 6rem;
  --footer-height: 3rem;
}

body {
  display: flex;
  background-color: #d3e7fc;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  gap: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table {
  margin: 0px;
}

/* Hide Bootstrap's bottom border on the last row. */
tbody > tr:last-child > td {
  border-bottom: 0;
}

/* Change Bootstrap's table hover color. */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #adb5bd;
}

/* For status message context variables above forms */
.status-message {

}


/* ------------------------ Header/Footer ------------------------*/

header, footer {
  display: flex;
  align-items: center;
}

header {
  height: var(--header-height);
}

.h-element {
  height: min-content;
  margin: 0px;
}

footer {
  height: var(--footer-height);
}

.h-container, .f-container {
  width: 100%;
}

.f-container {
  text-align: center;
}

.navbar {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  height: min-content;
}

.nav-link {
  padding: 0px 8px;
}

.app-name-container {
  margin-right: 30px;
}

@media (max-width: 520px) {
  .navbar {
    flex-direction: column;
    align-content: center;
  }
  
  .app-name-container {
    margin-right: 0px;
  }
}

/* ------------------------ TA Assignments Page ------------------------*/

.table-container, .nested-table-container {
  border: solid 1px #dee2e6;
  box-shadow: 2px 2px 6px 4px #ccc;
  background-color: #ffffff;
}

.table-container {
  width: 70%;
}

.table-header {
  margin: 10px;
}

.sub-wrapper {
  padding: 20px;
}

.nested-table-container {
  margin: 0px;
}

/* Add bottom row back to outer table when tables are nested*/
.table-container [data-rn="6"],  .table-container [data-rn="8"] {
   border-bottom: solid 1px #dee2e6;
}

.form-btn {
  margin-left: 10px;
  width: 80px;
}

.multi-row-container {
  border-bottom: solid 1px #dee2e6;
}

.multi-row-container table {
  width: 100%;
}

.multi-row-container table td{
  padding-right: 96px;
}

.multi-row-btn-container {
  height: 0px;
  position: relative;
}

.multi-row-btn {
  position: absolute;
  top: -100px;
  right: 8px;
  height: 92px;
}

.input-group {
  flex-wrap: nowrap;
}

/* ------------------------ Account Settings/Profile Page ------------------------*/

.profile-form {
  text-align: center;
  display: block;
  padding: 20px;
  border: solid 2px;
  width: 20%;
}

/* display form elements as block */
.profile-form input {
  display: block;
  padding: 6px 4px;
  border: solid 1px cornflowerblue;
  width: 100%;
  margin-bottom: 10px; /* between input and next element */
}

.profile-form label {
  margin-bottom: 5px; /* between label and input */
}

/* profile form submission button */
#profile-submit {
  margin-top: 20px; /* extra spacing for submit button */
  justify-content: center;
}

/* text above contact information submission form */
#profile-header {
  font-size: 24pt;
}

/* ------------------------ Account User Management Page ------------------------*/

#user-management-header {
  font-size: 24pt;
}

/* Container with all user list tables inside */
#user-management-user-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

/* Styling on each table representing a user */
.user-management-user-table {

}

.user-management-user-table td {
  vertical-align: middle;
}

#user-delete-form {
  float: right;
}

/* ------------------------ Login Page ------------------------*/

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.login-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 300px;
  padding: 20px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.center-btn {
  display: flex;
  justify-content: center;
}

/* ------------------------ Dashboard Pages ------------------------*/

.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.dashboard-container button {
  font-size: 20px;
}