/* ------------------------ Global CSS ------------------------*/

:root {
  --header-height: 6rem;
  --footer-height: 3rem;
}

body {
  display: flex;
  background-color: #d3e7fc;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  word-break: break-word;
  white-space: normal;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  gap: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.table {
  margin: 0px;
}

tbody td {
  overflow-wrap: break-word;
}

/* Hide Bootstrap's bottom border on the last row. */
tbody>tr:last-child>td {
  border-bottom: 0;
}

/* For status message context variables above forms */
.status-message {
  text-align: center;
  margin-bottom: 5px;
  color: #dc3545;
}


/* ------------------------ Header/Footer ------------------------*/

header,
footer {
  display: flex;
  align-items: center;
}

header {
  height: var(--header-height);
}

.h-element {
  height: min-content;
  margin: 0px;
}

footer {
  height: var(--footer-height);
}

.h-container,
.f-container {
  width: 100%;
}

.f-container {
  text-align: center;
}

.navbar {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  height: min-content;
}

.nav-link {
  padding: 0px 8px;
}

.app-name-container {
  margin-right: 30px;
}

@media (max-width: 520px) {
  .navbar {
    flex-direction: column;
    align-content: center;
  }

  .app-name-container {
    margin-right: 0px;
  }
}

/* ------------------------ Home Page ------------------------*/

.page-btn {
  width: 100%;
  max-width: 200px;
  flex: 1;
  display: flex;
  /* Add display flex */
  align-items: center;
  /* Center the text vertically */
  justify-content: center;
  /* Center the text horizontally */
  white-space: normal;
  /* Allow the text to wrap if needed */
  text-align: center;
  /* Center the text within the button */
}

/* ------------------------ TA Assignments Page ------------------------*/

form[name="course-id"],
form[name="course-instructor"],
form[name="section-id"] {
  justify-content: space-between;
  align-items: center;
}

.table-container,
.nested-table-container {
  border: solid 1px #dee2e6;
  box-shadow: 2px 2px 6px 4px #ccc;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  flex-basis: 400px;
}

.table-container {
  width: 70%;
}

.table-header {
  margin: 10px;
}

.tlabel {
  margin-right: 10px;
  align-self: center;
}

.sub-wrapper {
  padding: 20px;
}

.nested-table-container {
  margin: 0px 0px 20px 0px;
}

/* Add bottom row back to outer table when tables are nested*/
.table-container [data-rn="6"],
.table-container [data-rn="8"] {
  border-bottom: solid 1px #dee2e6;
}

.form-btn {
  margin-left: 10px;
  width: 80px;
}

.multi-row-container {
  border-bottom: solid 1px #dee2e6;
}

.multi-row-input-1 {
  width: 80%;
}

.multi-row-input-2 {
  width: 58%;
  display: inline-block;
}

.multi-row-container table {
  width: 100%;
}

.multi-row-container table td {
  padding-right: 96px;
}

.multi-row-btn-container {
  height: 0px;
  position: relative;
}

.multi-row-btn {
  position: absolute;
  top: -100px;
  right: 8px;
  height: 92px;
}

.input-group {
  flex-wrap: nowrap;
}

/* ------------------------ Account Settings/Profile Page ------------------------*/

.profile-form {
  text-align: center;
  display: block;
  padding: 20px;
  border: solid 2px;
  width: 20%;
}

/* display form elements as block */
.profile-form input {
  display: block;
  padding: 6px 4px;
  border: solid 1px cornflowerblue;
  width: 100%;
  margin-bottom: 10px;
  /* between input and next element */
}

.profile-form label {
  margin-bottom: 5px;
  /* between label and input */
}

/* profile form submission button */
#profile-submit {
  margin-top: 20px;
  /* extra spacing for submit button */
  justify-content: center;
}

/* text above contact information submission form */
#profile-header {
  font-size: 24pt;
}

/* ------------------------ Account User Management Page ------------------------*/

#user-management-header {
  font-size: 24pt;
}

/* Container with all user list tables inside */
#user-management-user-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

/* Styling on each table representing a user */
.user-management-user-table {}

.user-management-user-table td {
  vertical-align: middle;
}

#user-delete-form {
  float: right;
}

/* ------------------------ Login Page ------------------------*/

.login-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 4px #ccc;
  width: 350px;
  height: 300px;
  padding: 20px;
}

.form-head {
  text-align: center;
  margin-top: 10px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.center-btn {
  display: flex;
  justify-content: center;
}

/* ------------------------ Dashboard Page ------------------------*/

.assign-btn {
  font-size: 20px;
  font-weight: 300;
  padding: 20px 24px;
}