/* ------------------------ Global CSS ------------------------*/

:root {
  --header-height: 6rem;
  --footer-height: 4rem;
}

body {
  display: flex;
  background-color: #d3e7fc;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  word-break: break-word;
  white-space: normal;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  gap: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.table {
  margin: 0px;
}

/* Hide Bootstrap's bottom border on the last row. */
tbody>tr:last-child>td {
  border-bottom: 0;
}

/* For status message context variables above forms */
.status-message {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: 90%;
}

label {
  white-space: nowrap;
  align-self: center;
  margin: 0px 10px 0px 0px !important;
}

.form-div {
  margin-bottom: 30px;
}

.bottom-form-button {
  width: 100%;
}

.form-head {
  font-size: 24pt;
  text-align: center;
  margin-top: 10px;
}

.form-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  flex-basis: 350px;
  box-shadow: 2px 2px 6px 4px #ccc;
  height: min-content;
  align-self: center;
}

/* ------------------------ Header/Footer ------------------------*/

header,
footer {
  display: flex;
  align-items: center;
}

header {
  height: var(--header-height);
}

.h-element {
  height: min-content;
  margin: 0px;
}

footer {
  height: var(--footer-height);
}

.h-container,
.f-container {
  width: 100%;
}

.f-container {
  text-align: center;
}

.navbar {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  height: min-content;
}

.nav-link {
  padding: 0px 8px;
}

.app-name-container {
  margin-right: 30px;
}

@media (max-width: 520px) {
  .navbar {
    flex-direction: column;
    align-content: center;
  }

  .app-name-container {
    margin-right: 0px;
  }
}

/* ------------------------ TA Assignments and User Management Page ------------------------*/

form[name="course-id"],
form[name="course-instructor"],
form[name="section-id"],
form[name="user-id"],
.safe-user {
  justify-content: space-between;
  align-items: center;
}

.table-container,
.nested-table-container {
  border: solid 1px #dee2e6;
  box-shadow: 2px 2px 6px 4px #ccc;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 400px;
}

.table-container {
  width: 70%;
}

.table-header {
  margin-bottom: 0px;
}

.t-label {
  margin-right: 10px;
  align-self: center;
}

.sub-wrapper {
  padding: 20px;
}

.nested-table-container {
  margin: 0px 0px 20px 0px;
}

.multi-row-container tr:nth-of-type(odd) {
  background-color: white;
}

.multi-row-container tr:nth-of-type(even) {
  background-color: rgba(0,0,0,.05);
}

.form-btn {
  margin-left: 10px;
  width: 80px;
}

.b-last {
  border-bottom: solid 1px #dee2e6;
}

.multi-row-input-1 {
  width: 88%;
}

.multi-row-input-2 {
  width: 59%;
  display: inline-block;
}

.multi-row-container table {
  width: 100%;
}

.multi-row-container table td {
  padding-right: 96px;
}

.multi-row-btn-container {
  height: 0px;
  position: relative;
}

.multi-row-btn {
  position: absolute;
  top: -100px;
  right: 8px;
  height: 92px;
}

.input-group {
  flex-wrap: nowrap;
}

/* ------------------------ Account Settings/Profile Page ------------------------*/
.profile-form-label {
  width: 172px;
}

.profile-form input {
  width: 100% !important;
}

#skills {
  min-height: 100px;
}

/* ------------------------ User Management Page ------------------------*/

#user-management-header {
  font-size: 24pt;
}

/* Container with all user list tables inside */
#user-management-user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Styling on each table representing a user */
.user-management-user-table {
  background-color: white;
  display: block;
}

.user-management-user-table td {
  vertical-align: middle;
}

.user-delete-form {
  float: right;
}

/* ------------------------ Login Page ------------------------*/

.login-form-label {
  width: 100px;
}

/* ------------------------ Dashboard Pages ------------------------*/

.dashboard-container {
  display: flex;
  align-self: center;
}

.dashboard-container .btn {
  height: 100px;
  font-size: 20px;
}

/* ------------------------ Create Course Page ------------------------*/
.course-form-label {
  width: 287px;
}

/* ------------------------ Create Section Page ------------------------*/
.section-form-label {
  width: 257px;
}

/* ------------------------ Create User Page ------------------------*/
.user-form-label {
  width: 198px;
}