<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TA Scheduling App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include 'partials/header.html' %}
    <div class="main-container">
        {# TA View #}
        {# <div class="table-container">#}
            {# <table class="table table-striped">#}
                {# <h5 class="table-header">Assignment(s)</h5>#}
                {# {% for i in '12345678' %}#}
                {# <tr>#}
                    {# <td>Content for row {{ forloop.counter }}</td>#}
                    {# </tr>#}
                {# {% endfor %}#}
                {# </table>#}
            {# </div>#}


        {# Instructor View #}
        {# <div class="table-container">#}
            {# <table class="table table-striped">#}
                {# <h5 class="table-header">Course(s)</h5>#}
                {# {% for i in '123456' %}#}
                {# <tr data-rn="{{ forloop.counter }}">#}
                    {# <td>Content for row {{ forloop.counter }}</td>#}
                    {# </tr>#}
                {# {% endfor %}#}
                {# </table>#}
            {# <div class="sub-wrapper">#}
                {# <div class="nested-table-container">#}
                    {# <table class="table table-striped">#}
                        {# <h5 class="table-header">Assignment(s)</h5>#}
                        {# {% for i in '12345678' %}#}
                        {# <tr>#}
                            {# {% if forloop.counter == 4 %}#}
                            {# <td>#}
                                {# <form class="input-group" action="/" method="post">#}
                                    {# {% csrf_token %}#}
                                    {# <input type="text" class="form-control" placeholder="Populate">#}
                                    {# <span class="input-group-btn">#}
                                        {# <button class="btn btn-primary form-btn" type="submit">Update</button>#}
                                        {# </span>#}
                                    {# </form>#}
                                {# </td>#}
                            {# {% else %}#}
                            {# <td>Content for row {{ forloop.counter }}</td>#}
                            {# {% endif %}#}
                            {# </tr>#}
                        {# {% endfor %}#}
                        {# </table>#}
                    {# </div>#}
                {# </div>#}
            {# </div>#}


        <div class="status-message">{{ status }}</div>
        {# Admin View #}
        {% for course in courses %}
        <div class="table-container">
            <table class="table table-striped">
                <h5 class="table-header">Course</h5>
                {% for i in '********' %}
                <tr data-rn="{{ forloop.counter }}">
                    {% if forloop.counter == 1 %}
                    <td>
                        <form class="input-group" name="course-id" action="" method="post">
                            {% csrf_token %}
                            Course ID:
                            {{ course.COURSE_ID }}
                            <input type="hidden" name="course_id" value="{{ course.COURSE_ID }}">
                            <span class="input-group-btn">
                                <button class="btn btn-primary form-btn" type="submit">Delete</button>
                            </span>
                        </form>
                    </td>

                    {% elif forloop.counter == 5 %}
                    <td>
                        <form class="input-group" name="course-instructor" action="" method="post">
                            {% csrf_token %}
                            <span class="tlabel">Email:</span>
                            <input type="email" class="form-control" name="course_instructor" value="{{ course.INSTRUCTOR.EMAIL }}" required>
                            <input type="hidden" name="course_id" value="{{ course.COURSE_ID }}">
                            <span class="input-group-btn">
                                <button class="btn btn-primary form-btn" type="submit">Update</button>
                            </span>
                        </form>
                    </td>
                    {% else %}
                    <td>
                        {% if forloop.counter == 2 %}
                        Department:
                        {{ course.DEPARTMENT }} {{ course.COURSE_NUMBER }} - {{ course.COURSE_NAME }}
                        {% elif forloop.counter == 3 %}
                            Instructor ID:
                            {{ course.INSTRUCTOR.USER_ID }}
                        {% elif forloop.counter == 4 %}
                            Instructor Name:
                            {{ course.INSTRUCTOR.FIRST_NAME }} {{ course.INSTRUCTOR.LAST_NAME }}
                        {% elif forloop.counter == 6 %}
                            Description:
                            {{ course.COURSE_DESCRIPTION }}
                        {% elif forloop.counter == 7 %}
                            Semester:
                            {{ course.SEMESTER }}
                        {% elif forloop.counter == 8 %}
                            Prerequisites:
                            {{ course.PREREQUISITES }}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </table>

            <div class="multi-row-container">
                <form name="course-ta" action="" method="post">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <tr data-rn="9">
                            <td class="d-flex">
                                <span class="tlabel">Email:</span>
                                <input type="email" name="course_ta_email" class="form-control multi-row-input-1" placeholder="TA Email" required>
                                <input type="hidden" name="course_id" value="{{ course.COURSE_ID }}">
                            </td>
                        </tr>
                        <tr data-rn="10">
                            <td>
                                <span class="tlabel">Grader Status:</span>
                                <select name="course_ta_select" class="form-control multi-row-input-2" required>
                                    <option value="">Select</option>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="multi-row-btn-container">
                        <button class="btn btn-primary multi-row-btn" type="submit">Update</button>
                    </div>
                </form>
            </div>

            <div class="sub-wrapper">
                {% for section in course.section_set.all %}
                    <div class="nested-table-container">
                        <table class="table table-striped">
                            <h5 class="table-header">Section</h5>
                            {% for i in '*******' %}
                            <tr>
                                {% if forloop.counter == 1 %}
                                <td>
                                    <form name="section-id" class="input-group" action="" method="post">
                                        {% csrf_token %}
                                        Section ID:
                                        {{ section.SECTION_ID }}
                                        <span class="input-group-btn">
                                            <input type="hidden" name="section_id" value="{{ section.SECTION_ID }}">
                                            <button class="btn btn-primary form-btn" type="submit">Delete</button>
                                        </span>
                                    </form>
                                </td>
                                {% elif forloop.counter == 4 %}
                                <td>
                                    <form class="input-group" name="assignment-ta" action="" method="post">
                                        {% csrf_token %}
                                        <span class="tlabel">Email:</span>
                                        <input type="email" name="section_ta_email" class="form-control" placeholder="TA Email" required>
                                        <input type="hidden" name="course_id" value="{{ course.COURSE_ID }}">
                                        <input type="hidden" name="section_id" value="{{ section.SECTION_ID }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary form-btn" type="submit">Update</button>
                                        </span>
                                    </form>
                                </td>
                                {% else %}
                                <td>
                                    {% if forloop.counter == 2 %}
                                        Section Number:
                                        {{ section.SECTION_NUMBER }}
                                    {% elif forloop.counter == 3 %}
                                        Type: Lab
                                    {% elif forloop.counter == 5 %}
                                        Building:
                                        {{ section.BUILDING }}
                                    {% elif forloop.counter == 6 %}
                                        Room Number:
                                        {{ section.ROOM_NUMBER }}
                                    {% elif forloop.counter == 7 %}
                                        Time:
                                        {{ section.SECTION_START }} - {{ section.SECTION_END }}
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'partials/footer.html' %}
</body>

</html>

